   .directoryResult {
      border: solid #ddd 1px;
      padding: 20px;
      color: #3e5786;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    .directoryResult:hover {
      background-color: #ddd;
    }

    .directoryResult h2 {
      padding-top: 0px;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    .directoryImage {
      padding: 0;
      height: 64px;
      width: 128px;

      margin: 0;
      margin-right: 25px;
      float: left;
    }

    .directoryDescription {
      float: left;
      width: 50%;      
    }

    #directorySearchForm {
      padding: 20px;
      border: solid #ddd 1px;
    }

    .directorySearchFormButtons {
      margin-top: 10px;
    }

    .seantis-overview-event {
      height: 40px;
      margin-top: -18px;
    }

    .groupSelection {
      -webkit-box-shadow: 0px 0px 3px 3px #6DADF2;
      -moz-box-shadow: 0px 0px 3px 3px #6DADF2;
      box-shadow: 0px 0px 3px 3px #6DADF2; 
    }