/* facility styles for izug.basetheme */

.directoryImage {
    margin: 10px 10px 10px 0;
}

.resourceItem {
    border-width: 1px;   
}

.resourceItem:hover {
    box-shadow: none !important;
}

.facilityOverview th {
    font-size: 10px;   
}

.directoryDescription {
    width: 70%;
    margin-top: 8px;
}

.facilityInfo {
    margin-top: 0;
    width: 500px;   
}

.facilityInfo .directoryChildren,
.facilityInfo .directoryChildren h2 {
    margin-top: 0 !important;
}

.directoryDescription p {
    font-size: 11px;   
    margin-top: 0;
}

.directoryResult {
    border-color: #dedede;
    border-width: 1px;
    padding: 0 20px 0 10px;   
    position: relative;
    margin-top: 10px;
    min-height: 55px;
}

.directoryInfo h2 {
    border-color: #bbb;
    font-size: 12px;
    font-weight: bold;   
}

.resourceIcon {
    /* this is probably not the right way of doing it */
    background-image: url('../zugsprite.png');   
    background-position: 0 -326px;
    width: 15px;
}

#content .directoryItem .resourceItem {
    padding: 7px 10px 2px 18px;   
    border-color: #dedede;
    border-radius: 0;
}

#content .resourceItem:hover {
    border-color: #bbb;
    background-color: #efefef;
}

.directoryItem .resourceItem div {
    font-size: 12px;   
}

.directoryItem .resourceTitle {
    text-decoration: underline;   
}

#content .groupSelection {
    -webkit-box-shadow: 0 0 0 0 white !important;
    -moz-box-shadow: 0 0 0 0 white !important;
    box-shadow: 0 0 0 0 white !important;
    background-color: #efefef !important;
    
    border-color: #bbb !important;
}

#directoryResultMap {
   float: none;   
   width: 100%;
   height: 300px;
}

#directoryResultMap #default-cgmap {
    height: 300px;
}

#content div.directoryMarker {
    position: absolute;
    top: 5px;
    right: -2px;
    left: auto;     
}
