/*

    izug for seantis.dir.facility

*/

/* banner */
#landingPageIntro {
    margin-bottom: 20px;   
}

#content #landingPageText #landingPageImage {
    float: left;
    margin-left: -5px;
}

div#landingPageText {
    float: none;
    padding: 20px 20px 0 7px !important;
    width: 70%;
    margin-bottom: 0 !important;
}

/* columns */
.facilityInfo {
    float: left;
    width: 510px !important;
    margin: 0;
}

.facilityOverview {
    float: right; 
    width: 45%;
    margin-top:10px;
}

/* facility items list */
#directoryResultList {
    border-top: none;
    margin-top: 5px;
    width: 100%;   
}

/* facility item entry */
.directoryResult {
    margin: 5px auto 18px auto;
    padding: 10px 5px 15px 12px !important;
    border: 0.0919em solid #dedede !important;
}

.directoryResult a:hover * {
    color: #3e5786 !important;   
}

.directoryResult a:hover .directoryDescription *,
.directoryResult .directoryDescription {
    color: #222 !important;   
}

.directoryResult h2 {
    padding-top: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.directoryResult .directoryImage {
    float: left;
    margin: 2px 0 10px 0;   
    padding: 0
}

.directoryResult .directoryDescription {
    float: left;
    width: 60%;      
}

#content .directoryMarker {
    position: absolute;
    top: 5px;
    right: 2px;
    left: auto;
}

.resourceTitle {
    margin-left: 10px;
    margin-top: 5px;
    float:left;
    font-size: 16px;
}

/* opening hours / description / image in resources list */
.directoryImage {
    margin-right: 20px !important;   
}
.directoryDescription .opening-hours {
    margin-bottom: 10px;
}

#directoryResultList .directoryResult p {
    padding: 0;   
}

/* group selection styles */
.groupSelection,
#directoryResultList .directoryResult:hover {
    -webkit-box-shadow: 0 0 0 0 white !important;
    -moz-box-shadow: 0 0 0 0 white !important;
    box-shadow: 0 0 0 0 white !important;
    border-color: #bbb !important;
    background-color: #efefef !important;
    
    opacity: 1 !important;
}

td.groupSelection {
    color: white;   
}

/* directory search style */
#directorySearch {
    border: none;
    margin: 0;   
}

/* overview calendar styles */
#seantis-overview-calendar {
    margin-bottom: 15px;   
}

#seantis-overview-calendar td {
    border-color: #ddd!important;
}

#seantis-overview-calendar th {
    font-weight: normal;
    line-height: 16px;   
}

#seantis-overview-calendar .event-available,
#seantis-overview-calendar .event-partly-available,
#seantis-overview-calendar .event-unavailable {
    opacity: 0.75;   
}

#directoryResultMap {
   float: none;   
   width: 100%;
   height: 300px;
}

#directoryResultMap #default-cgmap {
    height: 300px;
}