/*

    izug.basetheme for seantis.dir.facility

*/

/* info block */
.facilityInfo {
   margin-top: 5px;   
}

.facilityInfo .directoryResult:hover {
   border-color: #ddd !important;
   background-color: white !important;   
}

.facilityInfo .directoryDescription {
   padding: 0 10px 10px 10px;
   font-size: 11px !important;
}

.directoryInfo h2 {
    font-size: 11px;
    font-weight: normal;
    margin: 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #bbb;
}

.directoryInfo > div {
    float: left;
    padding: 0 5px 0 0;
    margin-right: 10px;
}

.directoryInfo > div li {
    margin-left: -9px;
}

.directoryInfo > div > h2, .directoryInfo > div > p {
    max-width: 480px;   
}

.directoryInfo .category dt {
    margin: 0;
}

.directoryInfo .category dd {
    margin-left: 0;
    margin-bottom: 12px;
}

/* infoblock in seantis.reservation */
.multicalendar .directoryResult {
    display: none;   
}

.singlecalendar .directoryResult {
    border: 1px solid #bbb;
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
}

/* resource entries */
.resourceItem {
    border: 1px solid #ddd;
    min-height: 30px;
    padding: 5px 0 2px 0;
    margin: 0 0 10px 0;
}

.resourceItem .resourceDescription {
    clear: both;
    font-size: 11px !important;
    color: #454545;
    margin: 25px 5px 10px 10px !important;
}

#content .resourceItem:hover {
    border-color: #bbb;
    background-color: #efefef;
}

.directoryItem .resourceItem div {
    font-size: 12px;   
}

.directoryItem .resourceTitle {
    text-decoration: underline;   
}