/*

    izug.basetheme for seantis.dir.facility

*/

.directoryImage {
    padding: 0;
    margin: 10px 10px 10px 0;
    float: left;
}

.resourceItem {
    border: 1px solid #ddd;
    min-height: 30px;
    padding: 5px 0 2px 0;
}

.resourceTitle {
    float:left;
    font-size: 16px;
}

.resourceDescription {
    float:left;
    margin-top: 5px;
    margin-left: 25px;
}

.directoryDescription div:first-child {
    font-size: 1.4em;
}

.directoryInfo {
    padding-top: 0;
    color: #333;
}

.directoryInfo b {
    color: #3e5786;
}

.directoryInfo h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-width: 0 0 1px 0;
}

.directoryInfo > div {
    float: left;
    padding-right: 40px;
    padding: 15px 15px 15 0;
}

.directoryInfo > div li {
    margin-left: -9px;
}

.directoryInfo > div > h2, .directoryInfo > div > p {
    max-width: 450px;   
}

.directoryChildren {
    margin-top: 20px;
}

/* facility styles for izug.basetheme */

.directoryDescription {
    width: 70%;
    margin-top: 8px;
}

.facilityInfo {
    margin-top: 10px;;
    width: 500px;   
}

.facilityInfo .directoryChildren,
.facilityInfo .directoryChildren h2 {
    margin-top: 0 !important;
}

.resourceIcon {
    /* this is probably not the right way of doing it */
    background-image: url('../zugsprite.png');   
    background-position: 0 -326px;
    width: 15px;
}

#content .resourceItem:hover {
    border-color: #bbb;
    background-color: #efefef;
}

.directoryItem .resourceItem div {
    font-size: 12px;   
}

.directoryItem .resourceTitle {
    text-decoration: underline;   
}

.resourceDescription {
    margin-bottom: 10px;   
}