/*

    sunburst for seantis.dir.facility

*/

#landingPageIntro {
    margin-top: 7px;   
}

.directoryResult {
    border: solid #dddddd 1px;
    border-width: 1px 1px 1px 10px;
    padding: 15px 10px;
    color: #3e5786;
    margin-top: 5px;
    margin-bottom: 18px;
}

.directoryResult:hover {
    border-color: #0085be;
    box-shadow: 3px 3px 2px #efefef;
}

.directoryResult a:hover * {
    color: #3e5786 !important;   
}

.directoryResult a:hover .directoryDescription *,
.directoryResult .directoryDescription {
    color: #222 !important;   
}

.directoryResult h2 {
    padding-top: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.directoryMarker {
    right: 5px;
}

div#landingPageText {
    float: none;
    width: 100%;
}

#directoryResultList {
    margin-top: 17px;   
}

.directoryImage {
    padding: 0;
    margin: 0 25px 5px 0;
    float: left;
}

.directoryDescription {
    float: left;
    width: 50%;      
}

.seantis-overview-event {
    height: 40px;
    margin-top: -18px;
}

.resourceTitle {
    margin-left: 10px;
    margin-top: 5px;
    float:left;
    font-size: 16px;
}

.resourceAvailability {
    margin-left: 20px;
    margin-top: 5px;
    float:left;
    font-size: 16px;
}

.resourceDescription {
    float:left;
    margin-top: 5px;
    margin-left: 25px;
}

.opening-hours {
    color: #333;   
}

.facilityInfo {
    float: left;
    width: 60%;
    margin: 0;
}

.facilityOverview {
    float: right; 
    width: 38%;
    margin-top:16px;
}